{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "globals": {
        "process": true,
        "console": true,
        "document": true,
        "window": true,
        "chrome": true,
        "Set": true,
        "XMLHttpRequest": true,
        "clearTimeout": true,
        "setTimeout": true,
        "setInterval": true,
        "location": true
    },
    "rules": {
        "func-names": "off",
        "no-console": "off",
        "prefer-arrow-callback": "off",
        "strict": "off",
        "no-restricted-globals": [
            "error"
        ],
        "no-param-reassign": "off",
        "prefer-destructuring": [
            "error",
            {
                "VariableDeclarator": {
                    "array": false,
                    "object": true
                },
                "AssignmentExpression": {
                    "array": false,
                    "object": true
                }
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "16.5"
        }
    }
}
