body {
    font-family: "Arial Rounded MT", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-variant: all-petite-caps;
    font-size: 14px;
}

#tracked-items-list {
    padding: 2px 4px;
    width: 260px;
    list-style: none;
}

#tracked-items-list .item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.item-container .status-container {
    display: flex;
    flex-wrap: nowrap;
    width: 54px;
}

.item-container .status-container > svg:not(:last-child) {
    padding-right: 3px;
}

#tracked-items-list .tracked-item-label {
    display: flex;
    align-items: flex-end;
}

#tracked-items-title-container {
    display: flex;
    flex-wrap: nowrap;
}

#tracked-items-title-container .tracked-items-title-icon {
    width: 18px;
    height: 18px;
}

#tracked-items-title-container .tracked-items-title {
    display: inline;
    margin: 0 0 0 4px;
    font-size: 18px;
}

.tracked-item-label .item-label {
    font-size: 18px;
}

.tracked-item-label .item-label.price {
    text-align: left;
    width: 48px;
    font-size: 22px;
    padding-right: 12px;
}

#tracked-items-title-container > *,
.tracked-item-label .item-label.date,
.item-container .item-watch,
.item-container .item-notfound {
    align-self: center;
}

.item-container .item-delete,
.item-container .item-watch,
.item-container .item-notfound,
.item-container .item-priceup,
.item-container .item-pricedown {
    width: 14px;
    height: 14px;
}

