<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="modal.css">
    <title>Check item URL similarity</title>
</head>
<body>
<!--<script id="items-list" type="text/x-handlebars-template">-->
    <div id="modal">
        <div id="modal-header">
            <h3 id="title">Item with similar URL</h3>
        </div>
        <div id="modal-body">
            <span id="message">It appears that the item URL you're trying to save:
                ${currentURL}
                is pretty similar to
                ${similarURL}

                Please help us helping you. Choose one of the following options?</span>
        </div>
        <div id="modal-footer">
            <button class="button">Yes</button>
            <button class="button">No</button>
            <button class="button">For now Save this item. ask me later</button>
        </div>
    </div>
<!--</script>-->
<script type="text/javascript" src="modal.js"></script>
</body>
</html>
