#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    border: #e1a247 2px solid;
    background-color: #fffbea;
    min-width: 600px;
}

#modal #modal-header {
    background-color: #ffca65;
}

#modal #title {
    margin: 0;
    padding: 6px 0;
    text-align: center;
}

#modal #modal-body {
    display: flex;
    padding: 6px 30px;
    margin: 0 auto;
    min-height: 70px;
    align-items: center;
}

#modal #modal-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 6px 0;
}

#modal .button {
    background-color: #02b880;
    border: 0;
    color: #FFFFFF;
    font-variant: all-petite-caps;
    height: 35px;
    width: 120px;
}

#modal .button:not(:last-child) {
    margin-right: 10px;
}
