.tracking-container .tracking-buttons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 176px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 3px double #d2cccc;
    border-radius: 4px;
}

.tracking-container .tracking-buttons > li {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 6px 14px 6px;
}
