.tracking-buttons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 176px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 3px double #d2cccc;
    border-radius: 4px;
}

.tracking-buttons > li {
    display: inline-block;
}

.tracking-buttons > li:not(:last-child) {
    border-right: 1px solid #b5a8a8;
}
