@svg-load record-inactive url(../../../assets/search.svg) {
  fill: #54575e;
}

@svg-load record-active url(../../../assets/search.svg) {
  fill: #c4111d;
}

@svg-load auto-save-inactive url(../../../assets/hand.svg) {
  fill: #878a91;
}

@svg-load auto-save-active url(../../../assets/hand.svg) {
  fill: #4e9b5f;
}

@svg-load auto-save-pending url(../../../assets/hand.svg) {
  fill: #62656c;
}

@svg-load price-update-inactive url(../../../assets/coin.svg) {
  fill: #878a91;
}

@svg-load price-update-active url(../../../assets/coin.svg) {
  fill: #4e9b5f;
}

@svg-load price-update-pending url(../../../assets/coin.svg) {
  fill: #62656c;
}

.toolbar-button-container {
  height: 30px;
  width: 30px;
  margin: 6px 14px 6px;

  &.record-btn {
    &:hover {
      cursor: pointer;
    }
    &.inactive {
      background: svg-inline(record-inactive) no-repeat;
    }

    &.active {
      background: svg-inline(record-active) no-repeat;
    }
  }

  &.auto-save-btn {
    &.inactive {
      background: svg-inline(auto-save-inactive) no-repeat;
      cursor: initial;
    }
    &.active {
      background: svg-inline(auto-save-active) no-repeat;
      cursor: pointer;
    }
    &.pending {
      background: svg-inline(auto-save-pending) no-repeat;
    }
  }

  &.price-update-btn {
    &.inactive {
      background: svg-inline(price-update-inactive) no-repeat;
      cursor: initial;
    }
    &.active {
      background: svg-inline(price-update-active) no-repeat;
      cursor: pointer;
    }
    &.pending {
      background: svg-inline(price-update-pending) no-repeat;
    }
  }
}
